h1 {
    display: inline-block;
    transform: rotate(-30deg) translate(-50px, -35px);
    font-size: 22px;
    -webkit-app-region: drag;
    cursor: -webkit-grab;
    background: #fffd;
    padding: 2px 50px;
}
body {
    border: 1px solid #0005;
    box-sizing: border-box;
    background: #0001;
    background: linear-gradient(45deg, transparent 67%, black 67%);
    background-size: 3px 3px;
    min-height: 100vh;
    margin: 0;
}

#glcontext {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#� {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    text-decoration: none;
    z-index: 999;
    cursor: pointer;
}

.btn {
    display: inline-block;
    border-radius: 3px;
}

.btn.box-btn {
    min-width: 150px;
    min-height: 50px;
    background: white;
    border: 1px solid black;
    box-shadow: 2px 2px, 4px 4px;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s ease-out top, 0.3s ease-out left, 0.3s ease-out box-shadow;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 0;
    padding: 10px;
}

.btn.box-btn:hover {
    box-shadow: 1.5px 1.5px, 1.5px 1.5px;
    top: 1px;
    left: 1px;
    transition: 0.5s ease-out top, 0.5s ease-out left, 0.5s ease-out box-shadow;
}

.btn.box-btn:active {
    box-shadow: 0px 0px, 0px 0px;
    top: 4px;
    left: 4px;
}