h1 {
    display: inline-block;
    transform: rotate(-30deg) translate(-50px, -35px);
    font-size: 22px;
    -webkit-app-region: drag;
    cursor: -webkit-grab;
    background: #fffd;
    padding: 2px 50px;
    top: 0;
    left: 0;
    position: absolute;
}
body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #0005; */
    /* background: #0001; */
    /* background: linear-gradient(45deg, transparent 67%, #0005 67%); */
    /* background-size: 3px 3px; */
}

/* body {pointer-events: none} */

#glcontext {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#� {
    position: absolute;
    top: 3px;
    left: 3px;
    color: black;
    text-decoration: none;
    z-index: 999;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.btn {
    display: inline-block;
    border-radius: 3px;
}

.btn.box-btn {
    min-width: 150px;
    min-height: 50px;
    background: white;
    border: 1px solid black;
    box-shadow: 2px 2px, 4px 4px;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s ease-out top, 0.3s ease-out left, 0.3s ease-out box-shadow;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 0;
    padding: 10px;
}

.btn.box-btn:hover {
    box-shadow: 1.5px 1.5px, 1.5px 1.5px;
    top: 1px;
    left: 1px;
    transition: 0.5s ease-out top, 0.5s ease-out left, 0.5s ease-out box-shadow;
}

.btn.box-btn:active {
    box-shadow: 0px 0px, 0px 0px;
    top: 4px;
    left: 4px;
}


/* 3d css box */
.box-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    perspective: 800px;
    transition: perspective 1s;
}
.box-main {
    width: 500px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s, opacity 1s;
    opacity: 1;
}
.box-main.box-main-loading {
    transform: translateZ(-100px) rotate(12deg) translateZ(-5000px) rotate3d(4,3,2,600deg);
}
body.quitting .box-main {
    transform: translateZ(-200px) rotate3d(4,3,2,300deg);
    opacity: 0;
}
body.quitting .box-wrapper {
    perspective: 40px;
}
body.quitting {
    overflow: hidden;
}
.box-main.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.box-main.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.box-main.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.box-main.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.box-main.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.box-main.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
.box-main .box-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0005;
    background: #fffa;

    /* -webkit-app-region: drag; */
    /* cursor: -webkit-grab; */
}
.box-main .box-face input,
.box-main .box-face button,
.box-main .box-face a,
.box-main .box-face textarea,
.box-main .box-face select,
.box-main .box-face .btn {    
    -webkit-app-region: initial;
    cursor: initial;
}
.box-front {
    overflow: hidden;
}


.box-front  { transform: rotateY(  0deg) translateZ(250px); }
.box-right  { transform: rotateY( 90deg) translateZ(250px); }
.box-back   { transform: rotateY(180deg) translateZ(250px); }
.box-left   { transform: rotateY(-90deg) translateZ(250px); }
.box-top    { transform: rotateX( 90deg) translateZ(250px); }
.box-bottom { transform: rotateX(-90deg) translateZ(250px); }


.box-nav {
    position: absolute;
    font-size: 3em;
    background: none;
    border: none;
}
.box-nav-left {
    left: 20px;
}